# Byte-compiled / optimized / DLL files
.idea/
__pycache__/

# Distribution / packaging
.Python
build/
cs_tools.egg-info/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
site/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
poetry-installer-error-hpmnf456.log

# Environments
.env
.venv*
env/
venv/
ENV/
env.bak/
venv.bak/

# ignore project files
*.sublime-*
*.vscode*

# ignore virtualization
.python-version

# ignore coverage file
.coverage

# ignore linting
.mypy_cache/

# generated documentation
docs/terminal-screenshots/*.svg

# test data
testtml/*
tests/.data/generated/*

# keep mandatory empty directories
!.gitdontignore
