certifi==2020.6.20
chardet==3.0.4
dataclasses==0.6; python_version < "3.7"
idna==2.10
numpy==1.19.1
pandas==0.25.3
pydantic==1.6.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
-e git+https://github.com/thoughtspot/ts_tools.git@9ad043fc34d3612a25cac46e05eb192059c6e5ac#egg=thoughtspot
toml==0.10.1
urllib3==1.25.10
